<!-- notice.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>공지사항 목록</title>
</head>
<body>
<h1>공지사항</h1>
<% notice.forEach((notice) => { %>
    <div>
        <h3><%= notice.title %></h3>
        <p><%= notice.contents %></p>
        <img src="<%= notice.img %>" alt="이미지">
    </div>
<% }); %>
</body>
</html>
